<doctype html>
<html>
<head>
  <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
</head>
<body>
  <h1>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</h1>
  {% if page.author %} <h2>{{page.author}}</h2> {% endif %}
  
  <header>
    <ul>
		{% for seite in site.pages %}
		  {% if seite.url == page.url %}
		    <li class="current"><span> {{seite.title}}</span></li>
		  {% else %}
	        <li><a href="{{seite.url}}"> {{seite.title}}</a></li>
	      {%endif%}
		{% endfor %}
	</ul>
  </header>
  <div id="inhalt">
    {{ content }}
  </div>
</body>

</html>